// Componentes: mensaje, botón
.mensaje-pdf {
  margin-top: 1em;
  color: $color-principal;
  font-size: 0.9em;
  background: $color-fondo-claro;
  border: 0.094em solid $color-borde;
  border-radius: $border-radius-base;
  padding: 0.3em 0.3em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: $box-shadow-base;
  text-align: center;
  font-family: inherit;
}
