/*Estilos*/
body {
  font-family: Arial, sans-serif;
  background-color: #fff3f3;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 1rem;
  overflow-x: hidden;
}
header {
  width: 100%;
  max-width: 34em;
  margin: 0.5em auto 0.5em auto;
  padding: 1em 1em 1.2em 1em;
  background: rgba(255,255,255,0.97);
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.5em;
  box-shadow: 0 0 0.625em rgba(150, 0, 0, 0.2);
  border: 1.5px solid #fff;
}
