/* =========================
   ESTILOS PARA LIBRERÍAS - SWEETALERT2
   ========================= */
.swal2-popup {
  font-family: Arial, sans-serif;
  border-radius: 0.5em;
  background: #ffffff;
  color: #a12a2a;
  border: 2px solid #e32724;
}
.swal2-title {
  color: #a12a2a;
  font-weight: bold;
  font-size: 1.3em;
}
.swal2-html-container {
  color: #a12a2a;
  font-size: 1em;
}
.swal2-confirm {
  background-color: #e32724 !important;
  color: #ffffff !important;
  border-radius: 0.3em !important;
  font-weight: bold;
  font-family: inherit;
}
.swal2-cancel {
  background-color: #ffffff !important;
  color: #a12a2a !important;
  border: 1.5px solid #e32724 !important;
  border-radius: 0.3em !important;
  font-family: inherit;
}
.swal2-styled:focus {
  box-shadow: 0 0 0 2px #e32724 !important;
}
.swal2-icon.swal2-info,
.swal2-icon.swal2-warning,
.swal2-icon.swal2-success,
.swal2-icon.swal2-error {
  border-color: #e32724 !important;
  color: #e32724 !important;
}
.swal2-icon.swal2-info {
  background-color: #ffffff !important;
}
.swal2-icon.swal2-warning {
  background-color: #ffffff !important;
}
.swal2-icon.swal2-success {
  background-color: #ffffff !important;
}
.swal2-icon.swal2-error {
  background-color: #ffffff !important;
}
