/* BOTONES Y ACCIONES */

.btn-imprimir-lista img {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
    margin-left: 0.5em;
  vertical-align: middle;
    width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: middle;
  filter: invert(100%) brightness(100%);
}
