/* LAYOUT Y CONTENEDORES */
.admin-container {
  background: #fff;
  box-shadow: 0 0 0.625em rgba(150, 0, 0, 0.2);
  border-radius: 0.5em;
  padding: 2em;
  margin: 2em auto;
  max-width: 1100px;
  box-sizing: border-box;
  border: 1.5px solid #fff;
}
